.voting-page{
  margin-top: 17vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 1.3em;
  
  flex-wrap: wrap;

  padding: 5px;

  background-color: brown;
}