.adminPage {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 17vh;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid var(--color-b--);
}

th, td {
  padding: 10px;
  text-align: center;
  border: 2px solid var(--color-b--);
  overflow-wrap: break-word;
  word-break: break-all; 

  padding: 20px;

}

th {
  font-weight: bold;
  text-transform: uppercase;
}
