#header{
  position: fixed;
  top: 0px;
  min-height: 15vh;
  min-width: 100svw;

  gap: 3px;
  justify-content: end;

  padding-bottom: 7px;
  border-bottom: solid var(--color-b--) 1px;

  background-color: var(--color-a--);

  z-index: 10;
}

a{
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  padding: 0px 10px 5px 10px;
  /* padding-bottom: 5px; */
}

a:hover{
  border-bottom: var(--color-b--) solid 2px;
}