*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* UTILITIES */
.flex-col,
.flex-col-wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1.3em;
}

.flex-row
.flex-row-wrap{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 1.3em;
}

.flex-col-wrap,
.flex-row-wrap{
  flex-wrap: wrap;
}